.homepage {
  margin-top: 50px;
}

.restaurant-item,
.menu-item {
  height: auto;
  width: 400px;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  vertical-align: top;
}

.restaurant-item-image,
.menu-item-image {
  margin-left: auto;
  margin-right: auto;
}

.restaurant-item-image img,
.menu-item-image img {
  border-radius: 10px;
  width: 360px;
  height: 225px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.restaurant-item-name,
.menu-item-name {
  display: inline;
}

.restaurant-item-status-open,
.menu-item-cost,
.restaurant-item-status-closed {
  display: inline;
  float: right;
  margin: 0px;
  padding: 2px;
}

.restaurant-item-status-open {
  background-color: lightskyblue;
}

.restaurant-item-status-closed {
  background-color: lightsalmon;
}

.menu-item-cost {
  color: lightsalmon;
}

.restaurant-item-details,
.menu-item-details {
  width: 90%;
  margin: 5px auto 5px auto;
}

a {
  color: black;
  text-decoration: none;
}

.restaurantPage-info {
  display: inline-block;
  width: 40%;
  margin: 5px;
  padding: 5px;
  vertical-align: top;
}

.restaurantPage-image {
  display: inline-block;
  width: 40%;
  margin: 5px;
  padding: 5px;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
}

.restaurantPage-image img {
  width: 90%;
  border-radius: 10px;
}

.restaurantPage {
  margin: 10px;
}

.categoryItem,
.cuisineItem,
.filterItem,
.sortItem {
  width: auto;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  background-color: aliceblue;
  margin: 5px;
}

.categoryItem:hover,
.cuisineItem:hover,
.filterItem:hover,
.sortItem:hover {
  background-color: orange;
  cursor: pointer;
}

.active {
  background-color: orange;
}

.SideMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  overflow-x: hidden;
  z-index: 1;
  transition: 0.8s;
}

.FilterMenu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  overflow-x: hidden;
  z-index: 1;
  transition: 0.8s;
  text-align: center;
}

.SideMenu li {
  list-style-type: none;
  margin: 10px;
  padding: 5px;
  display: block;
  font-size: 22px;
  transition: 0.5s;
  border-radius: 10px;
  height: 50px;
  line-height: 50px;
}

.SideMenu li:hover {
  background-color: orange;
}

.SideMenu ul {
  padding: 5px;
}

.sideMenuBtn {
  height: 40px;
  width: 40px;
}

.sideMenuBtn img {
  margin-top: -80px;
}

.closeBtn {
  position: absolute;
  right: 25px;
  margin-left: 30px;
}

.closeBtn:hover {
  background-color: white !important;
}

.filterMenuBtn {
  float: right;
  margin-top: -70px;
  height: 40px;
  width: 40px;
}

.filterMenuBtn img {
  height: 90%;
  width: 90%;
}

button:disabled {
  color: black;
}

.loaderDiv svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

h2 {
  text-align: center;
}

.list-category {
  text-align: center;
}

.list-restaurants {
  text-align: center;
}

.restaurant-item-details {
  text-align: left;
}

.restaurantPage-about {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.applicationName {
  text-align: center;
  margin-top: -40px;
}

.applicationDescription {
  text-align: center;
}

.restaurant-error {
  text-align: center;
}

.restaurant-error a {
  color: coral;
}

@media only screen and (max-width: 900px) {
  .restaurantPage-about {
    display: grid;
  }

  .restaurantPage-info {
    order: 2;
    display: block;
    width: 90%;
  }

  .restaurantPage-image {
    order: 1;
    width: 95%;
  }

  .restaurantPage-menu h3 {
    text-align: center;
  }

  .menu-item,
  .restaurant-item {
    padding: 0px;
    width: 90%;
    margin-bottom: 10px;
  }

  .menu-item-image img,
  .restaurant-item-image img {
    width: 90%;
  }

  .menu-item-details {
    width: 90%;
    font-size: 14px;
  }

  .applicationName {
    margin-top: 20px;
  }

  .restaurantPage-info-summary {
    text-align: justify;
  }

  .filterMenuBtn {
    margin-top: -50px;
  }
}
